.productImage {
   object-fit: cover;
   display: block;
   margin: 0 auto; 
}
.listImage{
   width: 50px;  
   height: 50px;  
}
.detailImage{
   width: 300px;  
   height: 300px;  
}

.loginPage {
   background: #eaecee;
   height: 100vh;
   width: 100%;
   text-align: center;
}
.sapMListTblCell {
   white-space: nowrap;
}

