.productImage {
   object-fit: cover; /* Resmin orantısını koruyarak kesmesini sağlar */
   display: block;
   margin: 0 auto; /* Resmi ortalar */
}
.listImage{
   width: 50px;   /* Sabit genişlik */
   height: 50px;  /* Sabit yükseklik */
}
.detailImage{
   width: 300px;   /* Sabit genişlik */
   height: 300px;  /* Sabit yükseklik */
}

.loginPage {
   background: #eaecee;
   height: 100vh;
   width: 100%;
   text-align: center;
}
